
.vscode/

.vs/

UpgradeLog.htm

Logs/

Library/

obj/

Packages/

Swords.userprefs

Swords.sln

Assembly-CSharp.userprefs

Assembly-CSharp.sln

Assembly-CSharp.csproj

Assembly-CSharp-Editor.csproj

Assets/VSCode/

Assets/VSCode.meta
